<h2>{{{localize "PF1.Help.Content.Items.ItemTypes.Physical"}}}</h2>

<ul>
    <li><a href="systems/pf1/help/items/weapons.html">{{{localize "PF1.Help.Content.Items.Weapons.Label"}}}</a></li>
    <li><a href="systems/pf1/help/items/equipment.html">{{{localize "PF1.Help.Content.Items.Equipment.Label"}}}</a></li>
    <li><a href="systems/pf1/help/items/consumables.html">{{{localize "PF1.Help.Content.Items.Consumables.Label"}}}</a></li>
    <li><a href="systems/pf1/help/items/containers.html">{{{localize "PF1.Help.Content.Items.Containers.Label"}}}</a></li>
    <li><a href="systems/pf1/help/items/loot.html">{{{localize "PF1.Help.Content.Items.Loot.Label"}}}</a></li>
</ul>

<h2>{{{localize "PF1.Help.Content.Items.ItemTypes.Other"}}}</h2>

<ul>
</ul>