<a href="systems/pf1/help/index.html">{{{localize "PF1.Help.Nav.Home"}}}</a>
<ul>
    <li><a href="systems/pf1/help/actors.html">{{{localize "PF1.Help.Nav.Actors"}}}</a></li>
    <li><a href="systems/pf1/help/items.html">{{{localize "PF1.Help.Nav.Items"}}}</a></li>
    <ul>
        <b>{{{localize "PF1.Help.Nav.ItemTypes"}}}</b>
        <li><a href="systems/pf1/help/items/weapons.html">{{{localize "PF1.Help.Content.Items.Weapons.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/equipment.html">{{{localize "PF1.Help.Content.Items.Equipment.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/consumables.html">{{{localize "PF1.Help.Content.Items.Consumables.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/containers.html">{{{localize "PF1.Help.Content.Items.Containers.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/loot.html">{{{localize "PF1.Help.Content.Items.Loot.Label"}}}</a></li>
        <b>{{{localize "PF1.Help.Nav.Concepts"}}}</b>
        <li><a href="systems/pf1/help/items/concepts/description.html">{{{localize "PF1.Help.Content.Items.Description.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/concepts/changes.html">{{{localize "PF1.Help.Content.Items.Changes.Label"}}}</a></li>
    </ul>
    <li><b>{{{localize "PF1.Help.Nav.Special"}}}</b></li>
    <ul>
        <li><a href="systems/pf1/help/special/formulas.html">{{{localize "PF1.Help.Content.Special.Formulas.Label"}}}</a></li>
    </ul>
</ul>