<form autocomplete="off">
  <div class="form-group">
    <label for="disable-experience-tracking">
      {{localize "SETTINGS.pf1NoExpN"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="disable-experience-tracking" name="disable" data-dtype="Boolean" {{checked disable}}>
    </div>
    <p class="notes">{{localize "SETTINGS.pf1NoExpL"}}</p>
  </div>

  {{#if enabled}}
  <div class="form-group">
    <label for="xp-track">{{localize "SETTINGS.pf1ExpRateN"}}</label>
    <div class="form-fields">
      <select name="track" id="xp-track">
        {{#select track}}
        <option value="slow">{{localize "PF1.XPTrackSlow"}}</option>
        <option value="medium">{{localize "PF1.XPTrackMedium"}}</option>
        <option value="fast">{{localize "PF1.XPTrackFast"}}</option>
        <option value="custom">{{localize "PF1.XPTrackCustomFormula"}}</option>
        {{/select}}
      </select>
    </div>
    <p class="notes">{{localize "SETTINGS.pf1ExpRateL"}}</p>
  </div>

  {{#if hasCustomFormula}}
  <div class="form-group">
    <label for="xp-custom-formula">{{localize "PF1.Formula"}}</label>
    <div class="form-fields">
      <input type="text" class="formula" placeholder="{{localize "PF1.XPTrackCustomFormulaHint"}}" name="custom.formula" value="{{custom.formula}}" id="xp-custom-formula">
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label for="open-xp-distributor">
      {{localize "SETTINGS.pf1OpenXPDistributorN"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="open-xp-distributor" name="openDistributor" data-dtype="Boolean" {{checked openDistributor}}>
    </div>
    <p class="notes">{{localize "SETTINGS.pf1OpenXPDistributorL"}}</p>
  </div>
  {{/if}}

  <div class="form-group">
    <button type="button" class="save">
      <i class="far fa-save"></i>
      {{localize "SETTINGS.Save"}}
    </button>
  </div>
</form>
