<form autocomplete="off" data-tooltip-class="pf1">
  <div class="form-group">
    <label for="disable-experience-tracking">
      {{localize "PF1.SETTINGS.Experience.Disable"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="disable-experience-tracking" name="disable" data-dtype="Boolean" {{checked disable}}>
    </div>
    <p class="notes">{{localize "PF1.SETTINGS.Experience.DisableHint"}}</p>
  </div>

  {{#if enabled}}
  <div class="form-group">
    <label for="xp-track">{{localize "PF1.SETTINGS.Experience.Track.Label"}}</label>
    <div class="form-fields">
      <select name="track" id="xp-track">
        {{selectOptions progressionOptions selected=track localize=true}}
      </select>
    </div>
    <p class="notes">{{localize "PF1.SETTINGS.Experience.Track.Hint"}}</p>
  </div>

  {{#if hasCustomFormula}}
  <div class="form-group">
    <label for="xp-custom-formula">{{localize "PF1.Formula"}}</label>
    <div class="form-fields">
      <input type="text" class="formula" placeholder="{{localize "PF1.SETTINGS.Experience.Track.CustomPlaceholder"}}" name="custom.formula" value="{{custom.formula}}">
    </div>
  </div>
  <p class="info">
    <i class="fa-solid fa-circle-info"></i>
    {{{localize "PF1.SETTINGS.Experience.Track.CustomUsage"}}}
  </p>
  {{/if}}

  <div class="form-group">
    <label for="open-xp-distributor">
      {{localize "PF1.SETTINGS.Experience.Distributor"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="open-xp-distributor" name="openDistributor" data-dtype="Boolean" {{checked openDistributor}}>
    </div>
    <p class="notes">{{localize "PF1.SETTINGS.Experience.DistributorHint"}}</p>
  </div>
  {{/if}}

  <div class="form-group">
    <button type="button" class="save">
      <i class="far fa-save"></i>
      {{localize "SETTINGS.Save"}}
    </button>
  </div>
</form>
