<section class="form-body">
  {{! Dice So Nice }}
  <div class="form-group module">
    <label for="dice-so-nice">
      {{localize "PF1.Application.Settings.Integration.Modules.dice-so-nice.Label"}}
    </label>
    <div class="form-fields">
      <input id="dice-so-nice" name="diceSoNice" type="checkbox" {{disabled (not dsnFound)}} {{checked settings.diceSoNice}}>
    </div>
    <p class="hint">
      {{localize "PF1.Application.Settings.Integration.Modules.dice-so-nice.Info"}}
    </p>
  </div>

  {{! Drag Ruler }}
  <div class="form-group module">
    <label for="drag-ruler">
      {{localize "PF1.Application.Settings.Integration.Modules.drag-ruler.Label"}}
    </label>
    <div class="form-fields">
      <input id="drag-ruler" name="dragRuler" type="checkbox" {{disabled (not drFound)}} {{checked settings.dragRuler}}>
    </div>
    <p class="hint">
      {{localize "PF1.Application.Settings.Integration.Modules.drag-ruler.Info"}}
    </p>
  </div>
</section>
