<div class="defenses">
  {{! Armor Class and CMD }}
  <div class="ac-cmd">
    {{! AC, TAC and FFAC }}
    <div class="info-box-joined ac-tac-ffac">
    {{#each system.attributes.ac as |ac id|}}
      <div class="info-box ac-{{id}}" data-tooltip-extended="ac.{{id}}">
        <h5>{{ac.label}}</h5>
        <span class="value">{{ac.total}}</span>
      </div>
    {{/each}}
    </div>

    <div class="info-box-joined cmd-ff">
      {{! CMD }}
      <div class="info-box cmd" data-tooltip-extended="cmd.total">
        <h5>{{localize "PF1.CMDAbbr"}}</h5>
        <span class="value">{{system.attributes.cmd.total}}</span>
      </div>

      {{! FF CMD }}
      <div class="info-box ffcmd" data-tooltip-extended="cmd.flatFootedTotal">
        <h5>{{localize "PF1.CMDFFAbbr"}}</h5>
        <span class="value">{{system.attributes.cmd.flatFootedTotal}}</span>
      </div>
    </div>
  </div>

  {{! Saving Throws and Spell Resistance }}
  <div class="saves-sr">
    {{! Saves }}
    <div class="info-box-joined saves">
      {{#each system.attributes.savingThrows as |savingThrow id|}}
      <div class="info-box saving-throw {{id}}" data-savingthrow="{{id}}" data-tooltip-extended="save.{{id}}">
        <h5><a class="rollable"><i class="fas fa-dice"></i><span>{{label}}</span></a></h5>
        <span class="value">{{numberFormat savingThrow.total decimals=0 sign=true}}</span>
      </div>
      {{/each}}
    </div>

    {{! SR }}
    <div class="info-box sr" data-tooltip-extended="sr">
      <h5>{{localize "PF1.SpellResistance"}}</h5>
      <span class="value">{{system.attributes.sr.total}}</span>
    </div>
  </div>
</div>
