<fieldset class="pf1 custom-vision">
	<legend>{{localize "PF1.Title"}}</legend>

	<div class="form-group" data-tooltip="PF1.CustomVisionRules.Description">
		<label>{{localize "PF1.CustomVisionRules.Label"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.pf1.customVisionRules" data-dtype="Boolean" {{checked enabled}} {{disabled noSystemVision}}>
		</div>
	</div>

	<p class="hint">{{localize "PF1.CustomVisionRules.ConfigHint"}}</p>
</fieldset>
