<header class="statistics spell">
  <div class="type">
    <div class="detail">
      <label>{{localize "PF1.School"}}</label> <span class="value">{{{labels.school}}}</span>{{#if labels.subschool}} <span class="subschool">{{{labels.subschool}}}</span>{{/if}}{{#if labels.descriptors}} <span class="descriptors">{{{labels.descriptors}}}</span>{{/if~}}
    </div>
    {{~#unless chatcard}}
      {{~#if learnedAt.class}}<div class="detail"><label>{{localize "PF1.Level"}}</label> <span class="value">{{{learnedAt.class}}}</span></div>{{/if}}
      {{~#if learnedAt.domain}}<div class="detail"><label>{{localize "PF1.Domain"}}</label> <span class="value">{{{learnedAt.domain}}}</span></div>{{/if}}
      {{~#if learnedAt.subDomain}}<div class="detail"><label>{{localize "PF1.SubDomain"}}</label> <span class="value">{{{learnedAt.subDomain}}}</span></div>{{/if}}
      {{~#if learnedAt.elementalSchool}}<div class="detail"><label>{{localize "PF1.ElementalSchool"}}</label> <span class="value">{{{learnedAt.elementalSchool}}}</span></div>{{/if}}
      {{~#if learnedAt.bloodline}}<div class="detail"><label>{{localize "PF1.Bloodline"}}</label> <span class="value">{{{learnedAt.bloodline}}}</span></div>{{/if}}
    {{else}}
      <div class="detail">
        <label>{{localize "PF1.Level"}}</label> <span class="value">{{system.level}}</span>
      </div>
    {{/unless}}
  </div>
  {{#if (or labels.activation labels.components)}}
  <div class="casting">
    {{#if labels.activation}}<label>{{localize "PF1.CastingTime"}}</label> <span>{{{labels.activation}}}</span><br>{{/if}}
    {{#if labels.components}}<label>{{localize "PF1.Components"}}</label> <span>{{{labels.components}}}</span>{{/if}}
  </div>
  {{/if}}
  <div class="effects">
    {{#if labels.range}}<label>{{localize "PF1.Range"}}</label> <span class="value">{{{labels.range}}}</span><br>{{/if}}
    {{#if labels.area}}<label>{{localize "PF1.Area"}}</label> <span class="value">{{{labels.area}}}</span><br>{{/if}}
    {{#if labels.target}}<label>{{localize "PF1.Target"}}</label> <span class="value">{{{labels.target}}}</span><br>{{/if}}
    {{#if labels.effect}}<label>{{localize "PF1.Effect"}}</label> <span class="value">{{{labels.effect}}}</span><br>{{/if}}
    {{#if labels.duration}}<label>{{localize "PF1.Duration"}}</label> <span class="value">{{{labels.duration}}}</span><br>{{/if}}
    {{#if useDCandSR}}
    <div class="resist">
      <div class="detail"><label>{{localize "PF1.SavingThrow"}}</label> <span class="value">{{{labels.saveType}}}</span></div>
      <div class="detail"><label>{{localize "PF1.SpellResistance"}}</label> <span class="value">{{{labels.sr}}}</span></div>
      {{~#if labels.harmless}}<div class="detail"><label>{{localize "PF1.Harmless"}}</label> <span class="value">{{{labels.harmless}}}</span></div>{{/if}}
    </div>
  {{/if}}
  </div>
</header>
