<div class="dice-tooltip">
    {{#each parts}}
    <section class="tooltip-part dice">
        <div class="dice">
            <header class="part-header flexrow">
                <span class="part-formula">{{this.formula}}</span>
                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                <span class="part-total">{{this.total}}</span>
            </header>
            <ol class="dice-rolls">
            {{#each this.rolls}}
                <li class="roll {{this.classes}}">{{{this.result}}}</li>
            {{/each}}
            </ol>
        </div>
    </section>
    {{/each}}

    {{#if numericParts.length}}
        <section class="tooltip-part numeric">
            <div class="flexcol flavor">
                {{#each numericParts}}
                    {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                {{/each}}
            </div>
            <div class="flexcol total">
                {{#each numericParts}}
                    <span class="part-total">{{this.total}}</span>
                {{/each}}
            </div>
        </section>
    {{/if}}
</div>
