<form class="{{cssClass}}" autocomplete="off">
  {{#each sections as |section sectionIdx|}}
    {{!-- Health --}}
    <div class="tab section{{#if (eq sectionIdx 0)}} active{{/if}} flexcol" data-section="{{section.name}}" data-section-index="{{sectionIdx}}">
      <h2 class="form-header">{{localize section.label}}</h2>

      {{#if section.items}}
        <div class="flexrow">
          <nav class="list-selector" data-content="{{section.name}}">
            {{#each section.items as |item a|}}
              <a class="item" data-id="{{item.id}}" data-target="{{item.target}}" data-type="{{item.type}}">
                {{#if item.img}}
                  <img src="{{item.img}}"></img>
                {{else}}
                  <span class="fake-img"></span>
                {{/if}}
                <span class="name">{{item.name}}</span>
              </a>
            {{/each}}
          </nav>

          <div class="content {{section.name}}-body"></div>
        </div>
      {{/if}}
    </div>
  {{/each}}

  <hr>

  <div class="nav-buttons">
    <button type="button" disabled data-type="previous">{{localize "PF1.Previous"}}</button>
    <button type="button" disabled data-type="next">{{localize "PF1.Next"}}</button>
    <button type="submit" disabled data-type="submit">{{localize "PF1.Submit"}}</button>
  </div>
</form>