<div class="tab" data-group="primary" data-tab="description">
  {{#if showIdentifyDescription}}
  <nav class="sheet-navigation tabs subtabs description" data-group="description">
    <a class="item" data-tab="identified">{{localize "PF1.Identified"}}</a>
    <a class="item" data-tab="unidentified">{{localize "PF1.Unidentified"}}</a>
  </nav>
  {{/if}}

  <div class="flexrow description-container">
    <div class="item-properties">
      {{#each descriptionAttributes}}
      {{#if isBoolean}}
      <div class="form-group">
        <label>{{label}}</label>
        <input type="checkbox" name="{{name}}" {{checked value}} {{disabled disabled}}>
      </div>
      {{else if isNumber}}
      <div class="form-group">
        <label>{{label}}</label>
        <input data-action="input-text" name="{{name}}" class="select-on-click{{#if tooltip}} details-tooptip{{/if}}" type="number" readonly data-dtype="Number"
          value="{{numberFormat value decimals=decimals}}"{{#if tooltip}} data-tooltip-type="{{tooltip}}"{{/if}}
          {{#if fakeValue}}data-input-value="{{inputValue}}"{{/if}}
          {{disabled disabled}}>
      </div>
      {{else if isString}}
      <div class="form-group">
        <label>{{label}}</label>
        <input data-action="input-text" name="{{name}}" type="text" readonly value="{{value}}" {{disabled disabled}}>
      </div>
      {{else if isRange}}
      <div class="form-group range-value">
        <label>{{label}}</label>
        {{!-- Value --}}
        <input class="select-on-click" name="{{value.name}}" type="number" data-dtype="Number" readonly value="{{value.value}}">
        <span class="separator">/</span>
        {{!-- Max --}}
        <input data-action="input-text" class="select-on-click" name="{{max.name}}" type="text" data-dtype="Number" readonly value="{{max.value}}">
      </div>
      {{/if}}
      {{/each}}

      {{!-- Properties --}}
      <ol class="properties-list">
        {{#each itemProperties}}
        <li>{{this}}</li>
        {{/each}}
      </ol>
    </div>

    {{#if showIdentifyDescription}}
    <section class="description-body">
      <div class="tab description-group flexcol" data-group="description" data-tab="identified">
      {{editor descriptionHTML.identified target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      <div class="tab description-group flexcol" data-group="description" data-tab="unidentified">
      {{editor descriptionHTML.unidentified target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </section>
    {{else}}
    {{#if showUnidentifiedData}}
    {{editor descriptionHTML.unidentified target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
    {{else}}
    {{editor descriptionHTML.identified target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    {{/if}}
    {{/if}}
  </div>
</div>
