<div class="tab description" data-group="primary" data-tab="description">
  {{#if showBothDescriptions}}
  <nav class="sheet-navigation tabs subtabs description" data-group="description">
    <a class="item" data-tab="identified">{{localize "PF1.Identified"}}</a>
    <a class="item" data-tab="unidentified">{{localize "PF1.Unidentified"}}</a>
  </nav>
  {{/if}}

  <div class="flexrow description-container">
    {{#if showBothDescriptions}}
    <section class="description-body">
      <div class="tab description-group flexcol" data-group="description" data-tab="identified">
      {{editor descriptionHTML.identified target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      <div class="tab description-group flexcol" data-group="description" data-tab="unidentified">
      {{editor descriptionHTML.unidentified target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </section>
    {{else if showUnidentifiedData}}
    {{editor descriptionHTML.unidentified target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
    {{else}}
    {{editor descriptionHTML.identified target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    {{/if}}
  </div>
</div>
