<ol class="item-groups-list changeflags-list">
  {{!-- Flags --}}
  <li class="item-list-header flexrow">
    <div class="item-name flag-name flexrow">
      <h3>{{localize "PF1.CheckFlags"}}</h3>
    </div>
    <div class="item-enabled flexrow">{{localize "PF1.Enabled"}}</div>
  </li>

  <ol class="item-list">
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "PF1.ChangeFlagNoMediumEncumbrance"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.noMediumEncumbrance" {{checked system.changeFlags.noMediumEncumbrance}}></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "PF1.ChangeFlagNoHeavyEncumbrance"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.noHeavyEncumbrance" {{checked system.changeFlags.noHeavyEncumbrance}}></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "PF1.ChangeFlagMediumArmorFullSpeed"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.mediumArmorFullSpeed" {{checked system.changeFlags.mediumArmorFullSpeed}}></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "PF1.ChangeFlagHeavyArmorFullSpeed"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.heavyArmorFullSpeed" {{checked system.changeFlags.heavyArmorFullSpeed}}></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "PF1.ChangeFlagLoseDexToAC"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.loseDexToAC" {{checked system.changeFlags.loseDexToAC}}></div>
    </li>
  </ol>
</ol>

{{!-- Changes --}}
<ol class="item-groups-list changes-list">
  <li class="item-list-header change-header flexrow">
    <div class="item-name">
      <h3>{{localize "PF1.Changes"}}</h3>
      <a class='help-browser' data-url="Help/Items/Changes"><i class="far fa-question-circle"></i></a>
    </div>
    <div class="item-operator flexrow">{{localize "PF1.Operator"}}</div>
    <div class="item-target flexrow">{{localize "PF1.Target"}}</div>
    <div class="item-modifier flexrow">{{localize "PF1.Modifier"}}</div>
    <div class="item-priority flexrow" data-tooltip="PF1.Priority"><i class="fas fa-sort"></i></div>

    {{#if @root.owner}}
    <div class="item-controls basic flexrow">
      <a class="item-control item-create change-control add-change" data-action="add">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list changes">
  {{#each changes}}
    <li class="item change flexrow" data-change-id="{{id}}">
      <div class="item-name item-formula flexrow">
        {{#unless isScript}}
        <input class="change-formula formula" type="text" name="system.changes.{{@key}}.formula" value="{{formula}}" placeholder="{{localize "PF1.Formula"}}" required>
        {{else}}
        <button type="button" class="edit-change-contents"><i class="fas fa-edit"></i> {{localize "PF1.Edit"}}</button>
        {{/unless}}
      </div>

      <div class="item-operator flexrow">
        <select class="change-operator" name="system.changes.{{@key}}.operator">
          {{#select operator}}
          <option value="add">+</option>
          <option value="set">=</option>
          <option value="script">S</option>
          {{/select}}
        </select>
      </div>

      <div class="item-target flexrow">
        <span class="change-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-modifier flexrow">
        <select class="change-modifier" name="system.changes.{{@key}}.modifier">
          {{selectOptions @root.changeGlobals.modifiers selected=modifier}}
        </select>
      </div>

      <div class="item-priority flexrow">
        <input class="change-priority" type="text" data-dtype="Number" name="system.changes.{{@key}}.priority" value="{{priority}}"
          placeholder="0">
      </div>

      <div class="item-controls flexrow basic">
        {{#if @root.owner}}
        <a class="item-control change-control duplicate-change" data-change-id="{{id}}" data-action="duplicate"><i class="fa-solid fa-copy"></i></a>
        <a class="item-control change-control delete-change" data-change-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
  {{/each}}
  </ol>
</ol>

{{! Context Notes }}
<ol class="item-groups-list contextnotes-list">
  <li class="item-list-header change-header flexrow">
    <div class="item-name">
      <h3>{{localize "PF1.ContextNotes"}}</h3>
    </div>
    <div class="item-target flexrow">{{localize "PF1.Target"}}</div>
    {{#if @root.owner}}
    <div class="item-controls basic flexrow">
      <a class="context-note-control add-note">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list context-notes">
    {{#each contextNotes as |note a|}}
    <li class="item context-note flexrow" data-note="{{a}}">
      <div class="item-name flexrow">
        <textarea class="context-note-text context-text" name="system.contextNotes.{{a}}.text" placeholder="{{localize "PF1.Notes"}}">{{{text}}}</textarea>
      </div>

      <div class="item-target flexrow">
        <span class="context-note-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-controls flexrow basic">
        {{#if @root.owner}}
        <a class="context-note-control delete-note"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
