<div class="form-group stacked">
  <label>
    {{#if label}}
      {{localize label}}
    {{else}}
      {{localize "PF1.Materials.Addon"}}
    {{/if}}</label></label>
  <div class="form-group stacked weapon-properties">
    {{#each materialCategories.addons as |addon|}}
    <label class="checkbox">
      <input type="checkbox" data-dtype="String" value={{addon.key}} name="{{../reference}}.{{@index}}" {{checked (eq (lookup ../value @index) addon.key)}}/>
      {{localize addon.name}}
    </label>
    {{/each}}
  </div>
</div>