{{!-- Spellbooks --}}
<div class="form-group stacked">
    <label>{{localize "PF1.SpellbookUsage"}}</label>
    {{#each spellbookData as |spellbook a|}}
    <label class="checkbox">
        <input type="checkbox" {{checked spellbook.orig.inUse}} name="spellbook-{{a}}-inuse"/> {{spellbook.orig.name}}
    </label>
    {{/each}}
</div>

<div class="form-group">
    <label>{{localize "PF1.AbilityScoreLinks"}}</label>
</div>
<div class="form-group">
    <table class="abilityscore-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Feature"}}</th>
                <th>{{localize "PF1.AbilityScore"}}</th>
            </tr>
        </thead>
        <tbody>
            {{!-- General --}}
            <tr>
                <th colspan="2">{{localize "PF1.General"}}</th>
            </tr>
            <tr>
                <td><label>{{localize "PF1.HitPoints"}}</label></td>
                <td>
                    <select name="data.attributes.hpAbility">
                        {{#select data.attributes.hpAbility}}
                        <option value=""></option>
                        {{#each config.abilities as |ability a|}}
                        <option value="{{a}}">{{ability}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

            {{!-- Combat --}}
            <tr>
                <th colspan="2">{{localize "PF1.Combat"}}</th>
            </tr>
            <tr>
                {{!-- Initiative --}}
                <td><label>{{localize "PF1.Initiative"}}</label></td>
                <td>
                    <select data-name="data.attributes.init.ability">
                        {{#select data.attributes.init.ability}}
                        <option value=""></option>
                        {{selectOptions config.abilities}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                {{!-- CMB --}}
                <td><label>{{localize "PF1.CMB"}}</label></td>
                <td>
                    <select name="data.attributes.cmbAbility">
                        {{#select data.attributes.cmbAbility}}
                        <option value=""></option>
                        {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

            {{!-- Saving Throws --}}
            <tr>
                <th colspan="2">{{localize "PF1.SavingThrowPlural"}}</th>
            </tr>
            {{#each data.attributes.savingThrows as |savingThrow id|}}
            <tr>
                <td><label>{{savingThrow.label}}</label></td>
                <td>
                    <select data-name="data.attributes.savingThrows.{{id}}.ability">
                        {{#select savingThrow.ability}}
                        <option value=""></option>
                        {{#each ../config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Wound Thresholds --}}
<div class="form-group">
    <label>{{localize "PF1.WoundThresholdOverride"}}</label>
    <select data-dtype="Number" name="data.attributes.woundThresholds.override" {{#unless woundThresholds.allowWoundThresholdOverride}}disabled{{/unless}}>
    {{#select data.attributes.woundThresholds.override}}
        <option value="-1">{{localize 'PF1.Default'}}</option>
        <option value="0">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdDisabled'}}</option>
        <option value="1">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdNormal'}}</option>
        <option value="2">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdGritty'}}</option>
    {{/select}}
    </select>
</div>
