<form autocomplete="off" data-tooltip-class="pf1">
  <header>
    <a href="{{{link}}}" target="_blank">{{localize "PF1.Application.Changelog.OpenInBrowser"}}</a>
  </header>

  <nav class="tabs" data-group="primary">
    {{#with changelog}}
    <a class="item" data-tab="latest">{{localize "PF1.Application.Changelog.Latest" version=version}}</a>
    <a class="item" data-tab="major">{{localize "PF1.Application.Changelog.Major" major=version.major}}</a>
    {{#if legacy.content}}
    <a class="item" data-tab="legacy">{{localize "PF1.Application.Changelog.Legacy"}}</a>
    {{/if}}
    {{else}}
    <a class="item" data-tab="error">{{localize "Error"}}</a>
    {{/with}}
  </nav>

  <section class="content">
    {{#with changelog}}
    <div class="tab latest" data-group="primary" data-tab="latest">
      {{{latest.content}}}
    </div>
    <div class="tab major" data-group="primary" data-tab="major">
      {{{latest.content}}}
      {{{major.content}}}
    </div>
    {{#if legacy.content}}
    <div class="tab legacy" data-group="primary" data-tab="legacy">
      {{{legacy.content}}}
    </div>
    {{/if}}
    {{else}}
    {{#if error}}
    <div class="tab error">
      <h2>
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span class='status-code'>{{error.number}}</span>
        <span class='message'>{{error.message}}</span>
      </h2>
      <label class='url'>{{error.url}}</label>
    </div>
    {{/if}}
    {{/with}}
  </section>

  <footer>
    <label class="checkbox">
      <input type="checkbox" name="dontShowAgain" {{checked dontShowAgain}}>
      {{localize "PF1.Application.Changelog.DontShowAgain"}}
    </label>
  </footer>
</form>
