<form autocomplete="off">
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.Title"}}</label>
		<div class="form-fields">
			<input name="system.source.title" type="text" value="{{system.source.title}}" placeholder="{{localize "PF1.ContentSource.Info.TitleHint"}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.Edition"}}</label>
		<div class="form-fields">
			<input name="system.source.edition" type="number" data-dtype="Number" value="{{system.source.edition}}" placeholder="{{localize "PF1.ContentSource.Info.EditionHint"}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.Pages"}}</label>
		<div class="form-fields">
			<input name="system.source.pages" type="text" value="{{system.source.pages}}" placeholder="{{localize "PF1.ContentSource.Info.PagesHint"}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.ID"}}</label>
		<div class="form-fields">
			<input name="system.source.id" type="text" value="{{system.source.id}}" placeholder="{{localize "PF1.ContentSource.Info.IDHint"}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.Errata"}}</label>
		<div class="form-fields">
			<input name="system.source.errata" type="text" value="{{system.source.errata}}" placeholder="{{localize "PF1.ContentSource.Info.ErrataHint"}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "PF1.ContentSource.Info.Publisher"}}</label>
		<div class="form-fields">
			<input name="system.source.publisher" type="text" value="{{system.source.publisher}}" placeholder="{{localize "PF1.ContentSource.Info.PublisherHint"}}">
		</div>
	</div>
</form>
