{{#if @root.showIdentifiedData}}
<div class="content-source {{#unless source.title}}missing{{/unless}}">
	<span class="source"
    {{#with source~}}
    {{#if title~}}
		data-tooltip="
		{{~#if id}}{{localize "PF1.ContentSource.Info.ID"}}: {{id}}<br>{{/if~}}
		{{~#if edition}}{{localize "PF1.ContentSource.Info.Edition"}}: {{edition}}<br>{{/if~}}
		{{~#if errata}}{{localize "PF1.ContentSource.Info.Errata"}}: {{errata}}<br>{{else if date}}{{localize "PF1.ContentSource.Info.Release"}}: {{date}}<br>{{/if~}}
		{{~#if publisher}}{{localize "PF1.ContentSource.Info.Publisher"}}: {{publisher}}<br>{{/if~}}
    "{{/if}}{{/with}}>
	{{#if source.title}}
    <span class="title">{{source.title}}</span>
    {{#if source.abbr}}
    <span class="abbr">{{source.abbr}}</span>
    {{/if}}
		{{#if source.pages}}
    <span class="pages">{{localize "PF1.ContentSource.Pages" pages=source.pages}}</span>
		{{/if}}
	{{else}}
		{{localize "PF1.ContentSource.Missing"}}
	{{/if}}
	</span>
	<div class="control">
		<i class="fas fa-edit edit" data-tooltip="PF1.ContentSource.EditHint"></i>
	</div>
</div>
{{/if}}
