{{!-- Damage type indicators --}}
{{#if types.length}}
<div class="damage-type-visual"{{#if name}} data-name="{{name}}"{{/if}}>
  {{#each standard}}
  <div class="damage-type" data-tooltip="{{name}}">
    {{#if icon)}}
    <i class="{{icon}} icon-pf" style="color: {{color}}"></i>
    {{else}}
    <img class="icon-pf" src="{{img}}">
    {{/if}}
    {{#if (eq ../types.length 1)}}
    <span class="name">{{name}}</span>
    {{/if}}
  </div>
  {{/each}}
  {{#with custom}}
  <span class="custom">{{this}}</span>
  {{/with}}
</div>
{{else}}
{{!-- No damage type values --}}
<div class="damage-type-visual empty"{{#if name}} data-name="{{name}}"{{/if}}>
  <span>{{localize "PF1.Undefined"}}</span>
</div>
{{/if}}
